.taskID {
  margin-bottom: 20px;
  display: block; 
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 20px;
  background: rgb(10, 214, 204);
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  overflow: scroll;

}

.button_menu {
  background-color: #5e4caf;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5 auto;
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 0, 0);
}

#buttons {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
}

input:invalid {
  background-color: #ffdddd;
}

form:invalid {
  border: 5px solid #ffdddd;
}

input:valid {
  background-color: #ddffdd;
}

form:valid {
  border: 5px solid #ddffdd;
}

input:required {
  border-color: #800000;
  border-width: 3px;
}

input:required:invalid {
  border-color: #c00000;
}